* {
  margin: 0;
  box-sizing: border-box;
}

p {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* header */

.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section {
  display: flex;
  align-items: center;
  margin-left: 46px;
}

.middle-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-left: 35px;
  margin-right: 35px;
  max-width: 590px;
}

.middle-section .search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(180, 178, 178);
  outline: none;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  /* to remove refault width of a input  */
  width: 0;
}

.middle-section .search-icon {
  height: 36px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(180, 178, 178);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  margin-left: -3px;
  border-radius: 2px;
  margin-right: 6px;
}

.middle-section .micro-icon {
  height: 36px;
  width: 36px;
  border-radius: 18px;
  border: none;
  padding-top: 4px;
}

.middle-section .search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.right-section {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
  /* to prevent shrinking of the flex box  */
  flex-shrink: 0;
}

/* video */
.video-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 18px;
  column-gap: 16px;
}

.img {
  width: 100%;
}

.title {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 13px;
}

.search-bar {
  font-size: 20px;
  margin-left: 12px;
  display: block;
}

.video {
  margin-bottom: 12px;
}

.user-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.avatar {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  width: 40px;
  border-radius: 50%;
}

.author,
.stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
}

.author {
  margin-bottom: 4px;
}

@media only screen and (max-width: 600px) {
  .video-grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .middle-section .search-bar,
  .middle-section .micro-icon {
    display: none;
  }
  .left-section {
    display: flex;
    align-items: center;
    margin-left: 10;
  }
  .right-section {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
    /* to prevent shrinking of the flex box  */
    flex-shrink: 0;
  }
}
